<%- include('partials/header') -%>
<div class="container mt-5">
    <table class="table  table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <% data.ForEach((product) => { %>
            <tr>
                <td><%= product.code %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
            </tr>
       <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Price</th>
                <th>Operations</th>
            </tr>
        </tfoot>
    </table>
</div>
<%- include('partials/footer') -%>